<section class="navbar">
  <a [routerLink]="['/home']" class="navbar__logo">PopCornCiné</a>
  <div class="navbar__btnContainer">
    <ng-container *ngIf="!loggedIn">
      <a [routerLink]="['/login']" class="navbar__connexionBtn">Connexion</a>
      <a [routerLink]="['/register']" class="navbar__registerBtn">S'inscrire</a>
    </ng-container>

    <ng-container *ngIf="loggedIn">
      <a class="navbar__createEventBtn">Créer événement</a>
      <div class="navbar__dashboardBtnContainer">
        <a
          [style.backgroundImage]="
            photoUrl
              ? 'url(' + photoUrl + ')'
              : 'url(/assets/icons/profile-blue.png)'
          "
          [routerLink]="['/dashboard']"
          class="navbar__dashboardBtn"
        ></a>
        <div class="navbar__dropdown">
          <a
            [routerLink]="['/dashboard']"
            [queryParams]="{ section: 'profile' }"
            >Profil</a
          >
          <a
            [routerLink]="['/dashboard']"
            [queryParams]="{ section: 'myEvents' }"
            >Mes événements</a
          >
          <a [routerLink]="['/home']" class="navbar__logOut" (click)="logout()"
            >Déconnexion</a
          >
        </div>
      </div>
    </ng-container>
  </div>
</section>

<router-outlet></router-outlet>
